body {
    background-image: url(Images/background.jpg);
    background-position: center;
    /* background-repeat: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
    color:black;
    /* font-size: 150; */
   
    text-align: center;
    justify-content: center;
  }
  
  